<!DOCTYPE HTML>
<title>Guerilla</title>
<link rel="stylesheet" href="<%- bootstrapcss %>" />
<link rel="stylesheet" href="<%- fontawesome %>" />
<script src="<%- jquery %>" /></script>
<script src="<%- bootstrapjs %>" /></script>
<script src="/js/common/browserify-bundle.js" /></script>
<script type="text/javascript">
	var utils = {};
	utils.formatMilliseconds = <%- formatMilliseconds %>;
	utils.exists = <%- exists %>;
	utils.stringify = <%- stringify %>;
</script>
<link rel="stylesheet" href="/css/style.css" />
