<!DOCTYPE html>
<html lang="en">
	<head>
		
	</head>
	<body>

		<h4 style="display:inline"><b>Status:</b></h4> <%- status %><br />
		<h4 style="display:inline"><b>Queued:</b></h4> <%- moment(result.queued).format('dddd, M/D/YYYY, h:mm:ss A') %><br />
		<h4 style="display:inline"><b>Queue Time:</b></h4> <%- formatMilliseconds(result.queue_time) %><br />
		<h4 style="display:inline"><b>Started:</b></h4> <%- moment(result.started).format('dddd, M/D/YYYY, h:mm:ss A') %><br />
		<h4 style="display:inline"><b>Run Time:</b></h4> <%- formatMilliseconds(result.run_time) %><br />
		<h4 style="display:inline"><b>Finished:</b></h4> <%- moment(result.finished).format('dddd, M/D/YYYY, h:mm:ss A') %><br />

		<% if (result.data) { %>
			<h4 style="display:inline"><b>Data:</b></h4><br />
			<% for (var key in result.data) { %>
				<span style="padding-left:1em"></span><%- key %>: <%- result.data[key] %><br />
			<% } %>
        <% } %>

        <% if (result.error_messages && result.error_messages.length > 0) { %>
			<h4 style="display:inline"><b>Errors:</b></h4><br />
			<% for (var i = 0; i < result.error_messages.length; i++) { %>
                <span style="padding-left:1em"></span><%- result.error_messages[i] %><br />
              <% } %>
        <% } %>

        <br />

        View the full result here: <a href="<%- link %>"><%- link %></a>

	</body>
</html>