<!DOCTYPE HTML>
<html>
  <head>
    <% include ../partials/dependencies %>
    <script>
      var workers = <%- JSON.stringify(workers) %>;
    </script>
    <script src="/js/master/workers.js"></script>
    <link rel="stylesheet" href="/css/master/workers.css" />
  </head>
  <body>
    <% include ../partials/navbar %>

    <div id="content-wrapper">
      <div id="content" class="container">

        <div class="row">
          <% for (var i = 0; i < workers.length; i++) { %>
            <div class="col-xs-6">
              <section>
                  <a target="_blank" href="/workers/<%- workers[i].id %>"><%- workers[i].name %></a>
                  <span id="<%- workers[i].id %>-health" class="unavailable-health">Unavaliable</span>
                  <br />
                  <span id="<%- workers[i].id %>-active-jobs" class="active-jobs">Active Jobs: 0</span>
              </section>
            </div>
          <% } %>
        </div>

      </div>
    </div>

  </body>
</html>
